.col-7{
    background-color: rgba(70, 16, 121, 0.726);
    height: 100vh;
    text-align: center;
    color: aliceblue;
}

.col-5 h1{
    margin-top: 40%;
    text-align: center;
    color: rgba(70, 16, 121, 0.726);
}

.form-loguin{
    width: 70%;
    margin-left: 20%;
}

.form-group{
    margin-top: 5%;
}

.form-check{
    margin-top: 3%;
}

.btn-principal{
    margin-top: 3%;
}

.form-regist{
 margin-top: 8%;
 text-align: center;
}